<!DOCTYPE html>
<html>
<head><title>Applications</title></head>
<body>
  <h1>Applications Dashboard</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}{% for c,m in messages %}
  <p><strong>{{ m }}</strong></p>{% endfor %}{% endwith %}
  {% if role == 'faculty' or role == 'secretary' %}
    <form action="/applications" method="GET">
      <label for="uid">Applicant ID:</label>
      <input type="text" name="uid" placeholder = "Applicant ID">
      <label for="lname">Applicant Last Name:</label>
      <input type="text" name="lname" placeholder = "Applicant Last Name">
      {% if role == 'secretary' %}
        <label for="degree">Potential Degree:</label>
        <br><select name="degree" id="degree">
          <option value="">All Degree Types</option>
          <option value="PhD">PhD</option>
          <option value="MS">MS</option> 
        </select>
        <label for="semester">Semester Applied:</label>
        <select name="semester" id="semester">
          <option value="">All Semesters</option>
          <option value="Spring">Spring</option>
          <option value="Fall">Fall</option> 
        </select>
        <label for="year">Year Applied:</label>
        <input type="text" name="year" placeholder = "Year Applied">
      {% endif %}
      <input type="submit" name="submit">
    </form>
  {% endif %}
  <table border="1">
    <tr>
      <th>UID</th><th>Name</th><th>Degree</th><th>Status</th>
      {% if role == 'secretary' %}<th>Transcript</th>{% endif %}
      {% if role == 'faculty' %}<th>Completeness</th>{% endif %}
      <th>Actions</th>
    </tr>
    {% for a in applicants %}
    <tr>
      <td>{{ a.uid }}</td>
      <td>{{ a.fname }} {{ a.lname }}</td>
      <td>{{ a.degree }}</td>
      <td>{{ a.status }}</td>
      {% if role == 'faculty' %}
      <td>
        {% if not a.transcript_received %} No transcript<br>{% endif %}
        {% if a.letters_submitted == 0 %}
          No letters submitted 
        {% else %}
          Letters submitted
        {% endif %}
      </td>
      {% endif %}
      {% if role == 'secretary' %}
      <td>
        <form method="POST" action="{{ url_for('update_transcript', uid=a.uid) }}">
          <span>{{ "Received" if a.transcript_received else "Pending" }}</span>

          {% if a.transcript_method == "mail" %}
            <select name="transcript_received">
              <option value="1" {% if a.transcript_received %}selected{% endif %}>Received</option>
              <option value="0" {% if not a.transcript_received %}selected{% endif %}>Not Received</option>
            </select>
            <button type="submit">Update</button>
          {% else %}
            <span style="color:gray;">Uploaded</span>
          {% endif %}
        </form>
      </td>
      {% endif %}
      <td>
        {% if a.status in ('under review', 'incomplete') and role in ('admin', 'secretary', 'faculty') %}
          <a href="{{ url_for('review_applicant', uid=a.uid) }}">Review</a>
        {% endif %}

        {% if role in ('admin', 'secretary') or fac %}
          | <a href="{{ url_for('final_decision', uid=a.uid) }}">Decision</a>
        {% endif %}
      </td>
    </tr>
    {% else %}
    <tr><td colspan="6">No applications found.</td></tr>
    {% endfor %}
  </table>

  <br>
  <a href="{{ url_for('faculty') }}">
    <button type="button">Faculty Dashboard</button>
  </a>
  <br>
  <br>

  <a href="{{ url_for('logout') }}">
    <button type="button">Logout </button><br>
</body>
</html>
